@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

:root {
  background-image: url("./assets/fundo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  place-items: center;
  justify-content: center;
}

h1 {
  justify-content: baseline;
  color: #fdfdfd;
  font-family: "Tangerine", cursive;
  font-size: 8rem;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  animation: shadow-blink ease 3s infinite;
}

@keyframes shadow-blink {
  0% {
    text-shadow: 10px 5px 10px #000000;
  }
  50% {
    text-shadow: 10px 5px 10px #4c8b64;
  }
  75% {
    text-shadow: 10px 5px 10px #05fd12;
  }
  100% {
    text-shadow: 10px 5px 10px #000000;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 8rem;
  }
}
